<h1>Loop it!</h1>
<ul>
  <% for(var i=0;i<length;i++){ %>
    <li>
      <%= "Loop" + i %>
    </li>
  <% } %>
  %>
</ul>
<button id="readJson">read json data</button>
<h2 id="jsonResult"></h2>
<input id="search" placeholder="user num">
<h2 id="userResult"></h2>
<input type="text" id="name" size="40" placeholder="user name"><br>
<input type="password" id="password" size="40" placeholder="user password"><br>
<input type="button" id="submit" value="submit">
